.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.bezel{
    border: solid black 3px;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display{
    border: solid black 3px;
    height: 40px;
    width: 250px;
    margin-bottom: 100px;
    text-align: right;
    word-wrap: break-word;
}

.buttonBox{
    display: flex;
}

.buttonsLeft{
    display: flex;
    flex-direction: column;
}

.buttonsLeftCenter{
    display: flex;
    flex-direction: column;
}

.buttonsRightCenter{
    display: flex;
    flex-direction: column;
}

.buttonsRight{
    display: flex;
    flex-direction: column;
}