.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}


.bezel{
    border: solid black 3px;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:cadetblue
}

.display{
    border: solid black 3px;
    height: 80px;
    width: 250px;
    margin-bottom: 50px;
    text-align: right;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.top{
    height: 40px;
    /* border-bottom: solid black 2px; */
    background-color: lightgray;
    color: black;
}

.bottom{
    height: 40px;
    font-size: 2em;
    background-color: lightgray;
    color: black;
}


.buttonBox{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    gap: 2px;
}

.buttonsLeft{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
}

.buttonsLeftCenter{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
}

.buttonsRightCenter{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
}

.buttonsRight{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
}

button{
    all: unset;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    /* font-size: 2em; */
    border: white solid 1px;
    text-align: center;
}

.clearButtons{
    font-size: 1em;
}

.calcTitle{
    margin-left: -175px;
    color: white;
    font-family: sans-serif;
}

.designer{
    margin-left: -150px;
    font-size: 0.75em;
    color: goldenrod;
    font-family: sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: black;
}

button:active{
    transform: scale(0.98);
}

#clearAll{
    margin-left: 5px;
    margin-right: 5px;
}